.country-picker {
    position: relative;
}
.country-picker__input {}
.country-picker__popup {
    position: absolute;
    display: block;
    width: 200px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #333;    
    box-shadow: 2px 2px 5px 0px #ddd;
}
.country-picker__option {}